<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
    <input id="login-id" type="text" placeholder="아이디">
    <input id="login-pw" type="password" placeholder="비밀번호">

    <button class = "border px-4 py-2" onclick="openSignup()">
        회원가입
    </button>

    <button class="border px-4 py-2" onclick="login()">
        로그인
    </button>

    <div id="signup-popup" class="hidden fixed inset-0 flex items-center justify-center bg-black/50" >
        <div class="bg-white p-6 rounded-lg w-80">

            <h2 class="text-x1 font-bold mb-4">
                회원가입
            </h2>

            <input
                id="signup-name"
                type="text"
                placeholder="이름"
                class="border p-2 w-full mb-4"
            >

            <input
                id="signup-id"
                type="text"
                placeholder="아이디"
                class="border px-2 py-1 mb-2"
            >

            <button class="border px-2 py-1 mb-3" onclick="checkId()">
                중복확인
            </button>

            <input
                id="signup-pw"
                type="password"
                placeholder="비밀번호"
                class="border p-2 w-full mb-4"
            >

            <input
                id="signup-pw-confirm"
                type="password"
                placeholder="비밀번호 확인"
                class="border p-2 w-full mb-4"
            >

            <button class="border px-4 py-2" onclick="signup()">
                회원가입
            </button>

            <button class="border px-4 py-2" onclick="classSignup()">
                닫기
            </button>

        </div>
    </div>

    <script>
        // 로그인 함수
        function login() {
            let id = $("#login-id").val()
            let pw = $("#login-pw").val()

            console.log("보내기 직전ID", id);
            console.log("보내기 직전PW", pw);

            $.ajax({
                type: "POST",
                url: "/login",
                data: {
                    id: id,
                    pw: pw
                },
                success: function (response) {
                    if (response["result"] == "fail") {
                        alert(response["msg"]);
                    } else if (response["result"] == "success") {
                        window.location = "/main"
                    }
                }
            });
        }

        // 회원가입 팝업창을 회원가입 버튼 누를때만 보이게 하는 함수
        function openSignup() {
            $("#signup-popup").removeClass("hidden");
        }

        function classSignup() {
            $("#signup-popup").addClass("hidden");
        }
        // 회원가입 함수
        function signup() {
            let name = $("#signup-name").val();
            let id = $("#signup-id").val();
            let pw = $("#signup-pw").val();
            let pwConfirm = $("#signup-pw-confirm").val()

            console.log(name);
            console.log(id);
            console.log(pw);
            console.log(pwConfirm);

             // 회원가입 플라스크로 보내기
            $.ajax({
                type: "POST",
                url: "/signup",
                data: {
                    name: name,
                    id: id,
                    pw: pw,
                    pw_confirm: pwConfirm
                },
                success: function (response) {
                    if (response["result"] == "fail") {
                        alert(response["msg"]);
                    }
                }
            });
        }
        // 아이디 중복확인 alert 띄우기
        function checkId() {
            let id = $("#signup-id").val();

            console.log(id);

            $.ajax({
                type: "POST",
                url: "/check-id",
                data: {
                    id: id
                },
                success: function (response) {
                    if (response["result"] == "fail") {
                        alert(response["msg"]);
                    }
                    else if (response["result"] == "success") {
                        alert(response["msg"]);
                    }
                }
            });
        }

    </script>
</body>
</html>