<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JungMinder</title>

    <style>
        .site-header {
            color: #008000;
            text-align: left;
            font-size: 35px;
        }
        .site-header h1 {
            margin: 20px;
            margin-top: 10px;
        }

        #line{
            margin: 20px;
            margin-top: 30px;
        }
    </style>

    <header class="site-header">
        <h1>JungMinder</h1>
    </header>
</head>
<body>
    <div id="line" style="width: 2500px; height: 1000px; border: 4px solid #008000;"></div>

    
</body>
</html>